<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gotta Code em all!</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/gotta_code/public/css/materialize.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      {{!-- suppose to put them in a flex box row --}}
      <div class="flex-container">
        {{!-- moves the span tag into the home tag with the image still there --}}

        {{!-- money is a gag joke --}}
        {{!-- pokeball editing to open --}}
        <li><span role="img" aria-label="pokeball">💸</span></li>
        {{!-- change this to --}}
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Signup</a></li>
      </div>
      <h1>
        {{!-- money is a gag joke --}}
        {{!-- pokeball editing to open --}}

        {{!-- change this to --}}

      </h1>
      <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/profile">profile</a>
        <a href="/logout">logout</a>
        <a href="/pokedex">pokedex</a>
        <a href="/teams">teams</a>
        <a href="/evolutions">evolutions</a>
        <a href="/credits">credits</a>
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
  

    </main>
    <footer>
      {{!-- {{> myPartial }} --}}
      {{!--
      <script> Handlebars.registerPartial('myPartial', '{{prefix}}');
        { prefix: "please drop by any time" }
      </script> --}}

    </footer>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script>
  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script>function toggleMenu() {
      var menu = document.querySelector('.menu');
      menu.classList.toggle('active');
    }</script>
</body>

</html>