<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gotta Code em All</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <header>
    <nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo left">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTEyIDJhMTAgMTAgMCAwIDEgMTAgMTBhMTAgMTAgMCAwIDEtMTAgMTBBMTAgMTAgMCAwIDEgMiAxMkExMCAxMCAwIDAgMSAxMiAybTAgMmMtNC4wOCAwLTcuNDUgMy4wNS03Ljk0IDdoNC4wN2MuNDQtMS43MyAyLjAxLTMgMy44Ny0zczMuNDMgMS4yNyAzLjg3IDNoNC4wN2MtLjQ5LTMuOTUtMy44Ni03LTcuOTQtN20wIDE2YzQuMDggMCA3LjQ1LTMuMDUgNy45NC03aC00LjA3Yy0uNDQgMS43My0yLjAxIDMtMy44NyAzcy0zLjQzLTEuMjctMy44Ny0zSDQuMDZjLjQ5IDMuOTUgMy44NiA3IDcuOTQgN20wLTEwYTIgMiAwIDAgMC0yIDJhMiAyIDAgMCAwIDIgMmEyIDIgMCAwIDAgMi0yYTIgMiAwIDAgMC0yLTIiLz48L3N2Zz4=" alt="Pokeball">
          </a>
          <a href="#" data-target="mobile-demo" class="sidenav-trigger right">
          <i class="material-icons">menu</i>
        </a>
        <div class="centered-links">
          <ul class="hide-on-med-and-down">
            {{#if logged_in}}
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li class="title">Gotta Code 'em All!</li>
            <li><a href="/api/search">Search</a></li>
            <li><a href="/api/pokedex">Pokedex</a></li>
            <li><a href="/api/team">Teams</a></li>            
            {{else}}
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li class="title">Gotta Code 'em All!</li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            {{/if}}
          </ul>
        </div>
      </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
          <li><a href="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTEyIDJhMTAgMTAgMCAwIDEgMTAgMTBhMTAgMTAgMCAwIDEtMTAgMTBBMTAgMTAgMCAwIDEgMiAxMkExMCAxMCAwIDAgMSAxMiAybTAgMmMtNC4wOCAwLTcuNDUgMy4wNS03Ljk0IDdoNC4wN2MuNDQtMS43MyAyLjAxLTMgMy44Ny0zczMuNDMgMS4yNyAzLjg3IDNoNC4wN2MtLjQ5LTMuOTUtMy44Ni03LTcuOTQtN20wIDE2YzQuMDggMCA3LjQ1LTMuMDUgNy45NC03aC00LjA3Yy0uNDQgMS43My0yLjAxIDMtMy44NyAzcy0zLjQzLTEuMjctMy44Ny0zSDQuMDZjLjQ5IDMuOTUgMy44NiA3IDcuOTQgN20wLTEwYTIgMiAwIDAgMC0yIDJhMiAyIDAgMCAwIDIgMmEyIDIgMCAwIDAgMi0yYTIgMiAwIDAgMC0yLTIiLz48L3N2Zz4=" class="center">
            <img src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9ImN1cnJlbnRDb2xvciIgZD0iTTEyIDJhMTAgMTAgMCAwIDEgMTAgMTBhMTAgMTAgMCAwIDEtMTAgMTBBMTAgMTAgMCAwIDEgMiAxMkExMCAxMCAwIDAgMSAxMiAybTAgMmMtNC4wOCAwLTcuNDUgMy4wNS03Ljk0IDdoNC4wN2MuNDQtMS43MyAyLjAxLTMgMy44Ny0zczMuNDMgMS4yNyAzLjg3IDNoNC4wN2MtLjQ5LTMuOTUtMy44Ni03LTcuOTQtN20wIDE2YzQuMDggMCA3LjQ1LTMuMDUgNy45NC03aC00LjA3Yy0uNDQgMS43My0yLjAxIDMtMy44NyAzcy0zLjQzLTEuMjctMy44Ny0zSDQuMDZjLjQ5IDMuOTUgMy44NiA3IDcuOTQgN20wLTEwYTIgMiAwIDAgMC0yIDJhMiAyIDAgMCAwIDIgMmEyIDIgMCAwIDAgMi0yYTIgMiAwIDAgMC0yLTIiLz48L3N2Zz4=" alt="Pokeball">
          </a></li>
          <li id="title">Gotta Code 'em All!</li>
          <li><a href="/">Home</a></li>
          <li><a href="/profile">Profile</a></li>
           {{#if logged_in}}
            <li><a href="/api/search">Search</a></li>
            <li><a href="/api/pokedex">Pokedex</a></li>
            <li><a href="/api/team">Teams</a></li>            
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Signup</a></li>
            {{/if}}
        </ul>
  </header>

  <main>
    <div class="content-container">
    {{{ body }}}
    </div>
  </main>
  
{{!-- class="container container-fluid mt-5" --}}

  {{!--

  <script type="text/javascript" src="materialization/materialize.js"></script> --}}
  {{!--

  <script src="https://cdn.jsdelivr.net/npm/handlebars/dist/handlebars.min.js"></script> --}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="/js/logout.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var options = {
        edge: 'right' // You can set it to 'left' or 'right' as needed
      };
      var instances = M.Sidenav.init(elems, options);
    });
  </script>
</body>

</html>
{{!--
<div class="flex-column justify-space-around nav-wrapper">
  <nav id="" class="display-flex justify-space-between align-center p-2 navbar"> --}}
    {{!-- suppose to put them in a flex box row --}}
    {{!-- <div class="flex-container">

      <!-- Conditionally render login or logout links -->
      {{#if logged_in}}
      <a href="/profile">profile</a>
      <a href="/api/logout">logout</a>
      <a href="/credits">credits</a>
      <button class="no-button" id="logout">logout</button>
      {{else}}
      <a href="/login">login</a>
      {{/if}} --}}

      {{!-- haha cody <3 panda --}} {{!-- <footer class="page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">We hope to see you again!</h5>
              <p class="grey-text text-lighten-4">who worked on this project together.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <ul>
                <li><a class="grey-text text-lighten-3" href="#!jeovan">GitHub</a></li>
                <li><a class="grey-text text-lighten-3" href="">Github 2</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
                <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          </div>
        </div>
        </footer> --}}