
  <div class="col-6 col-s-9 sprite-container">
        <h1>Choose your Pokemon!</h1>
        <ul>
            <li><a href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/25.png" alt="Pokemon 25" class="sprite">
            </a></li>
            <li><a href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="Pokemon 1" class="sprite">
            </a></li>
            <li><a href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt="Pokemon 4" class="sprite">
            </a></li>
            <li><a href="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png">
            <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/7.png" alt="Pokemon 7" class="sprite">
            </a></li>
        </ul>
    </div>    




  

   