  <div>  <!-- Profile Content -->
  <h1>Welcome, {{user.username}}</h1>
  <p>Email: {{user.email}}</p>
  
  <!-- Logout Button -->
  <div class="center">
    <button id="logout-button">Logout</button>
  </div>
  

  <!-- Include your JavaScript file -->
  <script src="/js/logout.js"></script>
  </div>

