<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
 <link rel="stylesheet" href="../../public/assets/style.css">
</head>
<body>
  <!-- Profile Content -->
  <h1>Welcome, {{username}}</h1>
  <p>Email: {{email}}</p>a
  
  <!-- Logout Button -->
  <button id="logout-button">Logout</button>

  <!-- Include your JavaScript file -->
  <script src="../public/js/homepage.js"></script>
</body>
</html>